/* General Styling */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
@import url(https://fonts.googleapis.com/css?family=Lobster);

.navbar {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  /* background-color: rgba(243, 243, 241, 1); */
  /* color: rgba(30, 30, 30, 1); */
  display: flex;
  align-items: center;
  /* position: fixed; */
  border-bottom: 1px solid rgba(140, 129, 121, 1);
  height: 4rem;
  width: 100%;
  /* margin-bottom: 1rem; */
  /*top: -10px;*/
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-left: 1.5rem;
}

.companyText {
  font-family: 'Lobster', cursive;
  color: #fff;
  margin-left: 30px;
  -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
  -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
  -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
  -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
  transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
  /*-----------------------*/
  text-shadow: 0 0 5px #fff, 0 0 10px blue, 0 0 20px red, 0 0 30px blue, 0 0 40px blue, 0 0 55px blue, 4px 4px black;
}

.navigation a {
  padding-left: 1rem;
  font-size: 1.2rem;
  color: gold;
  text-decoration: none;
  
}

.navigation {
  margin-right: 1.5rem;
}

.navigation a:hover {
  color: red;
  font-weight: bold;
  transition: font-weight .25s ease-out;
}

.NavBeerMeLogo:hover {
  animation: App-logo-spin infinite 2s linear;
}

/*Search box Styling*/

.searchContainer {
  border: 1px solid rgb(240, 188, 46);
  overflow: hidden;
  height: 50px;
	border-radius: 5px;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	width: 70%;
	margin: 0 auto;
	margin-top: 2rem;
}

.searchContainer input[type="text"] {
  border: 0px;
  width: 80%;
  height: 48px;
  /* padding: 1px 1px; */
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
}

.searchContainer input[type="text"]:focus {
	outline: 0;
}

.searchContainer input[type="submit"] {
	border: 0px;
	background: none;
  background-color: rgb(240, 188, 46);
  font-size: 16px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  color: rgba(30, 30, 30, 1);
	float: right;
	padding: 10px;
	-moz-border-radius-top-right: 5px;
	-webkit-border-radius-top-right: 5px;
	-moz-border-radius-bottom-right: 5px;
	-webkit-border-radius-bottom-right: 5px;
  cursor:pointer;
}

.searchContainer input[type="submit"]:hover {
  background-color: rgb(221, 175, 25);
  transition-duration: .5s;
}

.searchContainer input[type="submit"]:active {
  background-color:rgb(240, 188, 46);
}

/*Login Styling*/

.Login {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.login-form {
  border: 1px solid rgba(140, 129, 121, 1);
  background-color: rgba(243, 243, 241, 1);
	border-radius: 5px;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 1.25rem 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
  color: rgba(30, 30, 30, 1);
}

.login-form > span {
  display: block;
  font-size: 1.5rem;
  color: goldenrod;
  text-shadow: -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.Login input[type="email"] {
  width: 100%;
  height: 2rem;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: rgba(30, 30, 30, 1);
}

.Login input[type="password"] {
  margin-top: 10px;
  width: 100%;
  height: 2rem;  
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: rgba(30, 30, 30, 1);
}

.Login input[type="checkbox"] {
  float: left;
  padding: 5px 0px 5px 1.75rem;
}

.btn {
  width: 9rem;
  height: 2.25rem;
  border-radius: 5px;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.form-button button {
  margin-top: 1rem;
  margin-bottom: .25rem;
  font-size: 1.1rem;
}

.form-button button:hover {
  background-color: rgba(240, 240, 240, 0.514);
}

.form-check {
  display: block;
  margin-top: 10px;
}

.form-check-label {
  padding-left: 1rem;
  float: left;
}

/*Loading Data Styling*/
.loading {
  height: 50%;
  width: 50%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.loading img {
  animation: loading infinite 15s linear;
  max-width: 100%;
}

.App {
  text-align: center;
}

.AppNavImg {
  width: 50px; 
  height: 50px;
  -webkit-filter: drop-shadow(1px 1px 1px black );
  filter: drop-shadow(1px 1px 1px black);
}

NavBeerMeLogo {
  font-size: 1.5rem;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Footer {
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 8rem;
}

/* Media query to subsitute text for icons
the header */
@media only screen and (max-width: 500px) {

  .searchContainer {
    width: 85%;
    margin: 0 auto;   
    margin-top: 1.5rem;
  }

  .searchContainer input[type="text"] {
    width: 67%;
  }

  .companyText {
    display: none;
  }

  .mobile-header-icons {
    display: initial
  }

  .Footer img {
    width: 50%;
  }
}

@media only screen and (min-width: 1400px) {


  .searchContainer {
    border: 2px solid rgb(240, 188, 46);
    height: 60px;
    width: 60%;  
    margin-top: 2rem;
  }

  .searchContainer input[type="text"] {
    height: 60px;
    font-size: 1.7rem;
    padding: 0px 0px;
    width: 85%;
  }
  
  .searchContainer input[type="submit"] {
    border: 0px;
    height: 60px;
    background-color: rgb(240, 188, 46);
    font-size: 1.7rem;
  }

  .navbar {
    height: 6rem;
  }

  .companyText {
    font-size: 3rem;
  }

  .navigation a {
    padding-left: 1.5rem;
    font-size: 1.7rem;
  }

  .AppNavImg {
    /* animation: App-logo-spin infinite 2s linear; */
    width: 4rem; 
    height: 4rem;
  }

  NavBeerMeLogo img {
    font-size: 5rem;
    width: 4rem; 
    height: 4rem;
    max-width: 100%;
  }

  .logo {
    height: 5rem;
    margin-left: 2rem;
  }
  
  .Login {
    top: 6rem;
  }

  .login-form {
    width: 500px;
    padding: 1.25rem 5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
    color: rgba(30, 30, 30, 1);
  }

  .login-form > span {
    font-size: 2.5rem;
  }

  .Login input[type="email"] {
    width: 100%;
    height: 60px;
    font-size: 1.7rem;
  }
  
  .Login input[type="password"] {
    width: 100%;
    height: 60px;  
    font-size: 1.7rem;
  }

  .form-check {
    height: 30px;
  }

  .Login input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
  }

  .form-check-label {
    font-size: 1.5rem;
  }

  .loading {
    height: 20%;
    width: 20%;
    margin-top: 200px;
    -webkit-filter: drop-shadow(10px 10px 10px black);
  filter: drop-shadow(10px 10px 5px black);
  }

  .btn {
    width: 13rem;
    height: 3.8rem;
  }

  .form-button button {
    font-size: 1.7rem;
  }

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes loading {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
