/* General Styling */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

.navbar {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(243, 243, 241, 1);
  color: rgba(30, 30, 30, 1);
  display: flex;
  align-items: center;
  /* position: fixed; */
  background-color: rgba(243, 243, 241, 1);
  border-bottom: 1px solid rgba(140, 129, 121, 1);
  height: 4rem;
  width: 100%;
  margin-bottom: 1rem;
  /*top: -10px;*/
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-left: 1.5rem;
}

.companyText {
  margin-left: 1rem;
  font-size: 2rem;
  color: goldenrod;
  letter-spacing: 2px;
  text-shadow: -.75px 0 black, 0 .75px black, .75px 0 black, 0 -.75px black;
}

.navigation a {
  padding-left: 1rem;
  font-size: 1.2rem;
  color: inherit;
  text-decoration: none;
  
}

.navigation {
  margin-right: 1.5rem;
}

.navigation a:hover {
  font-weight: bold;
  transition: font-weight .25s ease-out;
}

.NavBeerMeLogo:hover {
  animation: App-logo-spin infinite 2s linear;
}

/*Search box Styling*/

.searchContainer {
  border: 1px solid rgb(240, 188, 46);
	overflow: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	width: 70%;
	margin: 0 auto;
	
}

.searchContainer input[type="text"] {
	border: 0px;
	width: 67%;
  padding: 10px 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: rgba(30, 30, 30, 1);
}

.searchContainer input[type="text"]:focus {
	outline: 0;
}

.searchContainer input[type="submit"] {
	border: 0px;
	background: none;
  background-color: rgb(240, 188, 46);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: rgba(30, 30, 30, 1);
	float: right;
	padding: 10px;
	-moz-border-radius-top-right: 5px;
	-webkit-border-radius-top-right: 5px;
	-moz-border-radius-bottom-right: 5px;
	-webkit-border-radius-bottom-right: 5px;
  cursor:pointer;
}

.searchContainer input[type="submit"]:hover {
  background-color: rgb(221, 175, 25);
  transition-duration: .5s;
}

.searchContainer input[type="submit"]:active {
  background-color:rgb(240, 188, 46);
}


.loading {
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.loading img {
  animation: loading infinite 15s linear;
  max-width: 100%;
}

.App {
  text-align: center;
}

.AppNavImg {
  width: 50px; 
  height:50px
}

NavBeerMeLogo {
  font-size: 1.5rem;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Media query to subsitute text for icons
the header */
@media only screen and (max-width: 400px) {

  .searchContainer {
    width: 90%;
    margin: 0 auto;   
  }

  .companyText {
    display: none;
  }

  .mobile-header-icons {
    display: initial
  }
}

@media only screen and (min-width: 1400px) {

  .searchContainer {
    border: 2px solid rgb(240, 188, 46);
    height: 60px;
    width: 60%;  
  }

  .searchContainer input[type="text"] {
    height: 60px;
    font-size: 1.7rem;
    padding: 0px 0px;
    width: 85%;
  }
  
  .searchContainer input[type="submit"] {
    border: 0px;
    height: 60px;
    background-color: rgb(240, 188, 46);
    font-size: 1.7rem;
  }

  .navbar {
    height: 6rem;
  }

  .companyText {
    font-size: 3rem;
  }

  .navigation a {
    padding-left: 1.5rem;
    font-size: 1.7rem;
  }

  .AppNavImg {
    /* animation: App-logo-spin infinite 2s linear; */
    width: 4rem; 
    height: 4rem;
  }

  NavBeerMeLogo img {
    font-size: 5rem;
    width: 4rem; 
    height: 4rem;
    max-width: 100%;
  }

  .logo {
    height: 5rem;
    margin-left: 2rem;
  }
  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes loading {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
