@import url(https://fonts.googleapis.com/css?family=Lobster);

.Circle {
  position: relative;
  margin: auto;
  margin-top: 150px;
  height: 300px;
  width: 300px;
  border: .1px solid gold;
  border-radius: 100%;
  background: goldenrod;
  -webkit-filter: drop-shadow(15px 15px 15px #222 );
  filter: drop-shadow(10px 5px 5px #222);
}

.Home .Circle img {
  position: absolute;
  margin: auto;
  top: -40px;
  left: 100px;
  height: 400px;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
}

.Home .Circle h1 {
  position: absolute;
  margin: auto;
  top: 60px;
  left: -25px;
  font-family: 'Lobster', cursive;
  color: #fff;
  -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
  -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
  -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
  -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
  transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
  /*-----------------------*/
  text-shadow: 0 0 5px #fff, 0 0 10px blue, 0 0 20px red, 0 0 30px blue, 0 0 40px blue, 0 0 55px blue, 7px 7px black, 8px 8px black, 9px 9px black, 10px 10px black;
  
}

span:nth-child(3), span:nth-child(7) { 
font-size: 60px;
}

span:nth-child(1), span:nth-child(9), span:nth-child(5)  {
  font-size: 120px;
}